.form-create-users{
    display: none;

}

.required{
    color: red;
    font-weight: bolder;
}

.btn-save-user{
    cursor: pointer;
    //margin-right: 10%;
}

.editIcon{
    cursor: pointer;
}

.form-control-sm:disabled, .form-control-sm[readonly] {
    background-color: #efefef;
    opacity: 1;
    cursor: no-drop;
}
