<br>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5 ">
<h2 class=" page-header">
        Crear Cotización
</h2>

</div>

<div class="col-xs-12 col-sm-6 col-md-3 col-lg-4 ">
    <h3 class="" style="font-style: oblique">
            {{quotation.consecutivo}}
    </h3>
    
</div>

<div *ngIf="updating" class="btn-group center-sc row col-xs-12 col-sm-6 col-md-3 col-lg-3">

                <button class="btn btn-outline-success btn-md"
                placement="top"
                ngbTooltip="Exportar en Excel"
                 > <i class="fa fa-file-excel-o"></i>
                  </button>

                <button class="btn btn-outline-danger btn-md"
                placement="top"
                ngbTooltip="Exportar en PDF">
                         
                         <i class="fa fa-file-pdf-o"></i>
                </button>

</div>
        <br>
</div>
<hr>



<form (ngSubmit)="save()" ngNativeValidate>



<div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 " >

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" >

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                <div class="form-group row">
                <label class="col-form-label col-xs-3 col-sm-3 col-md-3 col-lg-3">*Empresa</label>
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                <select #selectCl
                [(ngModel)]="quotation.clienteId"
                (change)="getProyectosByCliente(selectCl.value)"
                 name="quotation.select"
                 class="form-control"
                 required>
                 <option value="" disabled selected>Seleccione una empresa</option>
                 <option *ngFor="let e of enterprises" [value]="e.id">
                     {{e.descripcion}}
                 </option>
                </select>
                </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                    <div class="form-group row">
                    <label class="col-form-label col-xs-3 col-sm-3 col-md-3 col-lg-3">*Proyecto</label>
                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                    <select #selectPr
                    [(ngModel)]="quotation.proyectoId"
                     name="quotation.proyectoId"
                     class="form-control"
                     [required]="true">
                     <option value="" disabled selected>Seleccione un proyecto</option>
                     <option *ngFor="let p of proyectos" [value]="p.id">
                        {{p.nombre}}
                    </option>
                    </select>
                    </div>
                    </div>
            </div>

            <div *ngIf="updating" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                    <div class="form-group row ">
                    <label class="col-form-label col-xs-3 col-sm-3 col-md-3 col-lg-3">*Valor Hora</label>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 input-group">
                    <span class="input-group-addon">
                            <i class="fa fa-usd" aria-hidden="true"></i>
                    </span>
                    <input type="number"
                    name="quotation.valueHour"
                    (change)="calculateValueTotal()"
                    [(ngModel)]="quotation.valueHour"
                    class="form-control" >
                    </div>
                    </div>
            </div>

            <div *ngIf="updating" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                    <div class="form-group row">
                    <label class="col-form-label col-xs-3 col-sm-3 col-md-3 col-lg-3">*Sistemas</label>
                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                        <button class="btn btn-primary" 
                        type="button" (click)="system()">Seleccionar</button>
                        <tag-input [ngModel]="systemsxQuotation"
                         name="systemItem"
                         placeholder="undefined"
                         secondaryPlaceholder="undefined"
                         [removable]="false"
                         disable="true"
                         [hideForm]="true"
                         [identifyBy]="'id'"
                         [displayBy]="'sistemaName'"> </tag-input>
                    </div>
                    </div>
            </div>

            <div *ngIf="updating" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                    <div class="form-group row">
                    <label class="col-form-label col-xs-3 col-sm-3 col-md-3 col-lg-3">*Herramientas</label>
                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                        <button class="btn btn-primary"
                        type="button" (click)="tools()">Seleccionar</button>
                         <tag-input [ngModel]="toolItem"
                         name="toolItem"
                         placeholder="undefined"
                         secondaryPlaceholder="undefined"
                         [removable]="false"
                         disable="true"
                         [ripple]="false"
                         [hideForm]="true"
                         [identifyBy]="'id'"
                         [displayBy]="'name'"> </tag-input>
                    </div>
                    </div>
            </div>

            <div *ngIf="updating" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                    <div class="form-group row">
                    <label class="col-form-label col-xs-3 col-sm-3 col-md-3 col-lg-3"> Documentos</label>
                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                        <button class=" btn btn-primary"
                        type="button" (click)="document()" >
                        <i class="fa fa-plus"
                         aria-hidden="true">
                         </i> Anexar</button>
                         <tag-input [ngModel]="toolItem"
                         name="toolItem"
                         placeholder="undefined"
                         secondaryPlaceholder="undefined"
                         [removable]="false"
                         disable="true"
                         [ripple]="false"
                         [hideForm]="true"
                         [identifyBy]="'id'"
                         [displayBy]="'name'"> </tag-input>
                    </div>
                    </div>
            </div>

    </div>




    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" >
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <div class="form-group row">
                <label class="col-form-label col-xs-3 col-sm-3 col-md-3 col-lg-3">*Código Requerimiento</label>
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                    <input type="text"
                    [(ngModel)]="quotation.codigoRqm"
                    name="quotation.codigoRqm"
                    class="form-control" required>
                </div>

            </div>

         </div>

         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-group row">
                        <label class="col-form-label col-xs-3 col-sm-3 col-md-3 col-lg-3">Descripcion Requerimiento</label>
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                            <textarea [(ngModel)]="quotation.descripcionRqm"
                            name="quotation.descripcionRqm"
                            class="form-control">

                            </textarea>
                        </div>

                    </div>
         </div>

         <div *ngIf="updating" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-group row">
                        <label class="col-form-label col-xs-3 col-sm-3 col-md-3 col-lg-3">*Recursos Asignados</label>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <input type="number"
                            [(ngModel)]="quotation.numeroRecursos"
                            name="quotation.numeroRecursos"
                            class="form-control">
                        </div>

                    </div>
         </div>

         <!-- [(ngModel)]="quotation.state" -->
         <div *ngIf="updating" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                <div class="form-group row">
                <label class="col-form-label col-xs-3 col-sm-3 col-md-3 col-lg-3">*Estado cotización</label>
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                <select #selectEc
                [(ngModel)]="quotation.estado"
                 name="quotation.estado"
                 class="form-control"
                 >
                 <option value="GENERADA">Generada</option>
                 <option value="APROBADA">Aprobada</option>
                 <option value="DESAPROBADA">Desaprobada</option>
                 <option value="ANULADA">Anulada</option>
                </select>
                </div>
                </div>
         </div>

        <div *ngIf="updating" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                <div class="form-group row">
                <label class=" col-form-label col-xs-3 col-sm-3 col-md-3 col-lg-3">Fecha Solicitud</label>
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 ">
                    <div class="input-group">
                  <input class="form-control"
                   placeholder="yyyy-mm-dd"
                      name="modelDateSol" 
                      [(ngModel)]="modelDateSol"
                       ngbDatepicker
                        #a="ngbDatepicker"
                        (ngModelChange)="AjustDateA()"
                        [minDate]="minDate" >

                  <div class="input-group-addon" (click)="a.toggle()" >
                      <span class="fa fa-calendar"></span>
                  </div>
                </div>
              </div>
        </div>
        </div>

        <div *ngIf="updating" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                <div class="form-group row">
                <label class=" col-form-label col-xs-3 col-sm-3 col-md-3 col-lg-3">Fecha Entrega</label>
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 ">
                    <div class="input-group">
                  <input class="form-control"
                   placeholder="yyyy-mm-dd"
                      name="modelDateEnt" 
                      [(ngModel)]="modelDateEnt"
                       ngbDatepicker
                        #b="ngbDatepicker"
                        (ngModelChange)="AjustDateB()"
                        [minDate]="minDateEntrega">

                  <div class="input-group-addon" (click)="b.toggle()" >
                      <span class="fa fa-calendar"></span>
                  </div>
                </div>
              </div>
        </div>
        </div>

        <div *ngIf="updating" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                <div class="form-group row">
                <label class="col-form-label col-xs-3 col-sm-3 col-md-3 col-lg-3">*Alcance Solicitud</label>
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                <select
                [(ngModel)]="quotation.alcance"
                 name="quotation.lcance"
                 class="form-control">
                 <option value=null disabled selected>Seleccione un alcance</option>
                 <option value="CRITICO">Crítico</option>
                 <option value="MEDIO">Medio</option>
                 <option value="ALTO">Alto</option>
                </select>
                </div>
                </div>
        </div>

    </div>

    <br><br>

    <div *ngIf="updating" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
            <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3">
                    <div class="btn btn-info hand"
                     (click)="detail()">
                         <i class="fa fa-plus"
                         aria-hidden="true">
                         </i>
                         &nbsp; Crear nuevo
                    </div>
                    </div>

                    <table class="table table-hover table-striped">
                            <thead>
                            <tr>
                                <th>Proceso</th>
                                <th>Componente</th>
                                <th>Descripción</th>
                                <th>H.Analisis</th>
                                <th>H.Diseño</th>
                                <th>H.Pruebas</th>
                                <th>H.Documentación</th>
                                <th>Total</th>
                                <th>Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let q of detail">
                                <td>
                                    <span [innerHTML]="q.process" ></span>
                                </td>
                                <td>
                                    <span [innerHTML]="q.component" ></span>
                                </td>
                                <td>
                                    <span [innerHTML]="q.description" ></span>
                                </td>
                                <td>
                                    <span [innerHTML]="q.analysis" ></span>
                                </td>
                                <td>
                                    <span [innerHTML]="q.design" ></span>
                                </td>
                                <td>
                                    <span [innerHTML]="q.test" ></span>
                                </td>
                                <td>
                                    <span [innerHTML]="q.documentation" ></span>
                                </td>
                                <td>
                                    <span [innerHTML]="q.total" ></span>
                                </td>
                                <td>
                                        <a class="btn btn-default" >
                                                <i (click)="upload()"
                                                 class="fa fa-pencil-square-o fa-lg hand"
                                                 aria-hidden="true"
                                                 title="Editar" >
                                                 </i>
                                        </a>
                                        <a class="btn btn-default">
                                                  <i (click)="delete()"
                                                  class="fa fa-trash-o fa-lg hand"
                                                  aria-hidden="true"
                                                  title="Eliminar">
                                                  </i>
                                        </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Horas por fase</td>
                                <td>
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                        10
                                    </td>
                                    <td>
                                        12
                                    </td>
                                    <td>
                                        52
                                    </td>
                                    <td>
                                        19
                                    </td>
                                    <td>
                                        148
                                    </td>
                                    <td></td>
                            </tr>
                            </tbody>
                        </table>

        <br><br>

        </div>


        <div *ngIf="updating" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >

            <div class="form-row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                <!-- <div class="form-group row"> -->
                        <label class="">Valor Total RQM</label>
                        <div class=" input-group">
                                <span class="input-group-addon">
                                        <i class="fa fa-usd" aria-hidden="true"></i>
                                </span>
                            <input type="number"
                            [(ngModel)]="quotation.valorTotal"
                            name="quotation.valorTotal"
                            class="form-control"
                            disabled>
                        </div>

                    <!-- </div> -->
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                <!-- <div class="form-group row"> -->
                        <label >Valor Total Acordado</label>
                        <div class="input-group">
                                <span class="input-group-addon">
                                        <i class="fa fa-usd" aria-hidden="true"></i>
                                </span>
                            <input type="number"
                            [(ngModel)]="quotation.valorAcordado"
                            name="quotation.valorAcordado"
                            class="form-control">
                        </div>

                <!-- </div> -->
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                <!-- <div class="form-group row"> -->
                        <label >Horas acordadas</label>
                            <input type="number"
                            [(ngModel)]="quotation.horasAcordadas"
                            name="quotation.horasAcordadas"
                            class="form-control">

                <!-- </div> -->
                </div>
                
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                <!-- <div class="form-group row"> -->
                        <label >Fecha Aprox. Entrega</label>
                              
                        <div class="input-group">
                            <input class="form-control"
                             placeholder="yyyy-mm-dd"
                                name="modelDateEntRqm" 
                                [(ngModel)]="modelDateEntRqm"
                                 ngbDatepicker
                                  #c="ngbDatepicker"
                                  (ngModelChange)="AjustDateC()"
                                  [minDate]="minDateEntregaRqm"
                                  [placement]="'top-right'" >
          
                            <div class="input-group-addon" (click)="c.toggle()" >
                                <span class="fa fa-calendar"></span>
                            </div>
                          </div>

                <!-- </div> -->
                </div>

                </div>

                <br><br>
            </div>


            
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center-sc" >
                    <input style="margin-right:10px"
                    type="submit"
                    class="btn btn-success"
                    value="Guardar"/>

                     <input style="margin-left:10px"
                     type="button"
                     (click)="cancel()"
                     class="btn btn-danger"
                     value="Cancelar" />
                    </div>

                    <!-- routerLink="../" -->

</div>

</form>


