.center{
    text-align:center;
           
}

.btn-volver{
    background-color: dodgerblue;
}

.hrv{

    border:         none;
    border-left:    1px solid hsla(200, 10%, 50%,100);
    height:         29px;
    margin-top: 0;
    margin-bottom: 0;
    // width:          1px;
}

.hrv1{

    border:         none;
    border-left:    1px solid hsla(200, 10%, 50%,100);
    height:         26px;
    margin-top: 0;
    margin-bottom: 0;
    // width:          1px;
}

.hrv2{
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    border-left: 1px solid #73848c;
    height: 29px;
    margin-top: 0;
    margin-bottom: 0;
    // width:          1px;
}
