<div class="row">
        <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div [@routerTransition]>
                <!-- <app-page-header [heading]="'Empleados'" [icon]="'fa-table'"></app-page-header> -->
                <div class="row">
                    
                        <h2 class=" page-header">
                            <i class="fa fa-fw fa-calendar-o" style="color:blue"></i> Registro de actividades
                        </h2>
    
                    
                </div>
                <div *ngIf="this.crear" style="text-align:right">
    
                    <button type="button" class="btn-sm btn-primary mb-2" routerLink="create" (click)="new()" blueColored>
                        <span class="fa fa-plus"></span> Nueva actividad
                    </button>
    
                </div>
    
                <hr>
    
                <div class="card mb-3 ">
                    <div class=" card-header center-sc">
    
                        <div class=" col-auto">
                            Tabla de Actividades
                        </div>
    
                        <div class="btn-group row col-auto pull-right " style="">
                            <div>
                                <hr class="hrv1">
                            </div>
    
                            <div class="col-auto pull-right ">
                                <i class="fa fa-file-excel-o fa-lg hand" placement="bottom" ngbTooltip="Exportar Excel" style="color:green"></i>
                            </div>
    
                            <div>
                                <hr class="hrv1">
                            </div>
    
                            <div class="col-auto pull-right ">
                                <i class="fa fa-file-pdf-o fa-lg hand" placement="bottom" ngbTooltip="Exportar PDF" style="color:red"></i>
                            </div>
    
    
                            <div>
                                <hr class="hrv1">
                            </div>
    
    
                        </div>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover table-striped table-bordered table-sm">
                            <thead>
                                <tr>
                                    <th>Cliente</th>
                                    <th>Proyecto</th>
                                    <th>Requerimiento</th>
                                    <th>Area</th>
                                    <th>Fase</th>
                                    <th>Tarea</th>
                                    <th>Empleado</th>
                                    <th>Fecha</th>
                                    <th *ngIf="this.administrador">Acciones</th>
                                </tr>
                                <tr>
                                    <th>
                                        <input style="text-align:center" class="form-control-sm input-filter" type="text" [(ngModel)]="filter.cliente" placeholder="Buscar por Cliente">
                                    </th>
                                    <th>
                                        <input style="text-align:center" class="form-control-sm input-filter" type="text" [(ngModel)]="filter.proyecto" placeholder="Buscar por Proyecto">
                                    </th>
                                    <th>
                                        <input style="text-align:center" class="form-control-sm input-filter" type="text" [(ngModel)]="filter.requerimiento"
                                            placeholder="Buscar por Requerimiento">
                                    </th>
                                    <th>
                                        <input style="text-align:center" class="form-control-sm input-filter" type="text" [(ngModel)]="filter.area" placeholder="Buscar por Area">
                                    </th>
                                    <th>
                                        <input style="text-align:center" class="form-control-sm input-filter" type="text" [(ngModel)]="filter.fase" placeholder="Buscar por Fase">
                                    </th>
                                    <th>
                                        <input style="text-align:center" class="form-control-sm input-filter" type="text" [(ngModel)]="filter.tarea" placeholder="Buscar por Tarea">
                                    </th>
                                    <th>
                                        <input style="text-align:center" class="form-control-sm input-filter" type="text" [(ngModel)]="filter.empleado"  placeholder="Buscar por Empleado">
                                    </th>
                                    <th>
                                        <input style="text-align:center" style="text-align:center" class="form-control-sm input-filter" type="text" [(ngModel)]="filter.fechaTrabajo" placeholder="Buscar por Fecha">
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let r of registroActividad| generalFilter:filter">
                                    <td>
                                        <span [innerHTML]="r.cliente.descripcion">
                                        </span>
                                    </td>
                                    <td>
                                        <span [innerHTML]="r.proyecto.descripcion">
                                        </span>
                                    </td>
                                    <td>
                                        <span [innerHTML]="r.requerimiento.descripcion">
                                        </span>
                                    </td>
                                    <td>
                                        <span [innerHTML]="r.area.descripcion">
                                        </span>
                                    </td>
                                    <td>
                                        <span [innerHTML]="r.fase.descripcion">
                                        </span>
                                    </td>
                                    <td>
                                        <span [innerHTML]="r.tarea.descripcion">
                                        </span>
                                    </td>
                                    <td>
                                        <span [innerHTML]="r.empleado.nombres">
                                        </span>
                                    </td>
                                    <td style="text-align:center">
                                        <span [innerHTML]="r.fechaTrabajo">
                                        </span>
                                    </td>
                                    <div *ngIf="this.administrador">
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-default">
                                                <i [routerLink]="['create', r.id]" class="fa fa-pencil-square-o fa-lg hand" aria-hidden="true" title="Editar">
                                                </i>
                                            </a>
                                            <a class="btn btn-default">
                                                <i (click)="delete(r.id)" class="fa fa-trash-o fa-lg hand" aria-hidden="true" title="Eliminar">
                                                </i>
                                            </a>
                                        </div>
                                    </td>
                                </div>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
    
                <br>
        </div>
    </div>
</div>
    
    
