$topnav-background-color: #fff;
:host {
    display: block;
}
.login-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background: aliceblue;
    text-align: center;
    color: #1E90FF; /*Color texto imagen.*/
    padding: 3em;

    .col-lg-4 {
        padding: 0;
    }
    .input-lg {
        height: 46px;
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.3333333;
        border-radius: 0;
    }

    .input-underline {
        background: 0 0;
        border: none;
        box-shadow: none;
        border-bottom: 2px solid  #1E90FF;//rgba(255, 255, 255, 0.5);
        color: #000;
        border-radius: 0;
    }
    .input-underline:focus {
        border-bottom: 2px solid #DC143C;
        box-shadow: none;
    }

    .rounded-btn {
        -webkit-border-radius: 50px;
        border-radius: 50px;
        color: #1E90FF;//rgba(255, 255, 255, 0.8);
        background: $topnav-background-color;
        border: 2px solid #1E90FF;// rgba(255, 255, 255, 0.8);
        font-size: 18px;
        line-height: 40px;
        padding: 0 25px;
    }
    .rounded-btn:hover,
    .rounded-btn:focus,
    .rounded-btn:active,
    .rounded-btn:visited {
        color: #1E90FF;//rgba(255, 255, 255, 1);
        border: 2px solid #1E90FF ;//rgb(40, 19, 136);
        outline: none;
    }

    h1 {
        font-weight: 300;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 36px;
        small {
            color: rgba(255, 255, 255, 0.7);
        }
    }

    .form-group {
        padding: 8px 0;
        input::-webkit-input-placeholder {
            color: #000;//rgba(255, 255, 255, 0.6) !important;
        }

        input:-moz-placeholder {
            /* Firefox 18- */
            color: rgba(255, 255, 255, 0.6) !important;
        }

        input::-moz-placeholder {
            /* Firefox 19+ */
            color: rgba(255, 255, 255, 0.6) !important;
        }

        input:-ms-input-placeholder {
            color: rgba(255, 255, 255, 0.6) !important;
        }
    }
    .form-content {
        padding: 40px 0;
    }
    //Borde imagen login.
    .user-avatar {
        -webkit-border-radius: 0%;
        border-radius: 0%;
        border: 0px solid #fff;
        padding: 10px 0;
    }

    .card{

         padding: 40px;

    }

    .btn-sc{

        border-radius: 100px;

    }

    .form-control-feedback {
        position: absolute;
        padding: 10px;
        pointer-events: none;
      }

      .form-control {
        padding-left: 30px!important;
      }

      .login-name{

        font-family: serif;
        font-style: italic;
        font-size: 40px;
      }

    // input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    //     background-color: red(250, 255, 189);
    //     background-image: none;
    //     color: rgb(0, 0, 0);
    // }

    //Background loging
    // .divForm{
    //     background: rgba(76, 135, 175, 0.192) !important;
    // }


}
