<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.jpg" width="300px" class="user-avatar" />
            <div>
                <h6></h6>  
            </div>
            <form role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" ng-model="name" class="form-control input-underline input-lg" id="" placeholder="Email" required>
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" id="" placeholder="Password" required>
                    </div>
                </div>
                <div class="form-group">
                    <input class="btn rounded-btn" type="submit" value="Aceptar" >
                    <!--<a class="btn rounded-btn" [routerLink]="['/dashboard']">Aceptar</a> -->
                   <!-- <a class="btn rounded-btn" [routerLink]="['/signup']">Aceptar</a> -->
                </div>
               <!-- <a class="btn rounded-btn" [routerLink]="['/dashboard']" (click)="onLoggedin()"> Log in </a>
                
                <a class="btn rounded-btn" [routerLink]="['/signup']">Register</a> -->
            </form>
        </div>
    </div>
</div>
