


              <form (ngSubmit)="save()" ngNativeValidate>

                  <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-row">

                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
                        <label class=" col-form-label ">*Componente</label>
                        <input type="text"
                         class="form-control"
                          placeholder="Componente"
                          [(ngModel)]="detail.componente"
                          name="detail.componente"
                           required>
                      </div>

                      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
                            <label class=" col-form-label ">*Proceso</label>
                            <input type="text"
                             class="form-control"
                              placeholder="Proceso"
                              [(ngModel)]="detail.proceso"
                              name="detail.proceso"
                               required>
                          </div>

                  </div>

                  <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12 form-row">

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                      <label class=" col-form-label ">Descripción</label>
                      <textarea class="form-control"
                       rows="3"
                       placeholder="Descripcion"
                       [(ngModel)]="detail.descripcion"
                       name="detail.descripcion" >
                        </textarea>
                    </div>

                    </div>

                    <div *ngIf="updating" 
                    style="padding-top: 6px" 
                    class="center-sc col-xs-12 col-sm-12 col-md-12 col-lg-12 form-row">

                            <div class="col-auto">
                                    <!-- <label class=" col-form-label ">*Horas totales</label> -->
                                    <input type="button"
                                     class="btn btn-info"
                                     value="Asociar Fases"
                                     (click)="fasesxDetalleModal()">
                            </div>

                    </div>
                      
                      

                      
    </div>
    <br>

                      <div class="center-sc  col-xs-12 col-sm-12 col-md-12 col-lg-12">


                          <input style="margin-right:10px"
                          type="submit"
                          class="btn btn-success"
                          value="Guardar"/>

                           <input style="margin-left:10px"
                           type="reset"
                           class="btn btn-danger"
                           value="Limpiar" />

                      </div>

              </form>

                              <br>

                    <!-- <div class="center-sc form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">

                             <button
                             class="btn btn-primary" >
                             <span style="padding-right:5px"
                              class="fa fa-chevron-left">
                                </span>Volver

                             </button>

                    </div> -->
