
<div class="row">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<div [@routerTransition]>
        <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5 ">
                    <h2 class=" page-header">
                        Requerimientos
                    </h2>

                </div>
        </div>
        <hr>
        <div style="text-align:left">
            <button type="button" class="btn-sm btn-primary mb-2" (click)="creationPage()" routerLink="create" blueColored>
                <span class="fa fa-plus"></span> Nuevo Requerimiento
                <b>
                    <span class="{{icon}}"></span>
                </b>
            </button>
        </div>
        <br>
        <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 " >
        
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 ">
                    
                <div class="input-group" style="width:100%">
                    <select  name="fecha1" class="form-control-sm input-underline" style="width:40%">
                        <option value="1">Fecha Inicio DS</option>
                        <option value="1">Fecha PE DS</option>
                        <option value="1">Fecha RE DS</option>
                    </select>
                    <label class=" col-form-label-sm " style="width:5%">  </label>
                    <input
                        class="form-control-sm input-underline"
                        style="width:40%" 
                        placeholder="yyyy-mm-dd"
                        name="fechaInicio" 
                        [(ngModel)]="requestForm.fechaInicio"
                        ngbDatepicker
                        #a="ngbDatepicker"
                    >

                    <div class="input-group-addon" (click)="a.toggle()" >
                        <span class="fa fa-calendar"></span>
                    </div>
                </div>
            </div>
            
      


        
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 ">
                        
                    <div class="input-group" style="width:100%">
                        <select  name="fecha1" class="form-control-sm input-underline" style="width:40%">
                            <option value="1">Fecha Inicio DS</option>
                            <option value="1">Fecha PE DS</option>
                            <option value="1">Fecha RE DS</option>
                        </select>
                        <label class=" col-form-label-sm " style="width:5%">  </label>
                        <input
                            class="form-control-sm input-underline"
                            style="width:40%" 
                            placeholder="yyyy-mm-dd"
                            name="fechaInicio" 
                            [(ngModel)]="requestForm.fechaInicio"
                            ngbDatepicker
                            #a="ngbDatepicker"
                        >
    
                        <div class="input-group-addon" (click)="a.toggle()" >
                            <span class="fa fa-calendar"></span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 ">
                    <button type="button" class="btn-sm btn-primary mb-2" (click)="creationPage()" routerLink="create" blueColored>
                        <span class="fa fa-filter"></span> Filtrar
                        <b>
                            <span class="{{icon}}"></span>
                        </b>
                    </button>
                   
                </div>
    </div>
        <br>
        <div class="card mb-3">
            <div class="card-header center-sc">
                <div class="row">

                    <div class=" col-auto">
                        Tabla de Requerimientos
                    </div>

                    <div class="btn-group row col-auto pull-right " style="">
                        <div>
                            <hr class="hrv1">
                        </div>

                        <div class="col-auto pull-right ">
                            <i class="fa fa-file-excel-o fa-lg hand" placement="bottom" ngbTooltip="Exportar Excel" style="color:green"></i>
                        </div>

                        <div>
                            <hr class="hrv1">
                        </div>

                        <div class="col-auto pull-right ">
                            <i class="fa fa-file-pdf-o fa-lg hand" placement="bottom" ngbTooltip="Exportar PDF" style="color:red"></i>
                        </div>


                        <div>
                            <hr class="hrv1">
                        </div>


                    </div>
                </div>
            </div>
           
            <div class="card-body table-responsive">
                <table class="table table-hover table-striped table-bordered table-sm">
                    <thead>
                        <tr>
                            <th>ID_RQM</th>
                            <th>Descripción RQM</th>
                            <th>Cliente</th>
                            <th>Proyecto</th>
                            <th>Estado RQM</th>
                            <th>Versión</th>
                            <th>Fase RQM</th>
                            <th>Fecha Inicio DS</th>
                            <th>Fecha PE DS</th>
                            <th>Fecha RE DS</th>
                            <th>Acciones</th>
                        </tr>
                        <tr>
                            <th>
                                <input class="form-control-sm input-filter" type="text" [(ngModel)]="filter.cotizacion.codigoRequerimiento1q356y      " placeholder="Buscar por ID_RQM">
                            </th>
                            <th>
                                <input class="form-control-sm input-filter" type="text" [(ngModel)]="filter.descripcion" placeholder="Buscar por Descripción RQM">
                            </th>
                            <th>
                                <input class="form-control-sm input-filter" type="text" [(ngModel)]="filter.cliente.descripcion" placeholder="Buscar por Cliente">
                            </th>
                            <th>
                                <input class="form-control-sm input-filter" type="text" [(ngModel)]="filter.proyecto.nombre" placeholder="Buscar por Proyecto">
                            </th>
                            <th>
                                <input class="form-control-sm input-filter" type="text" [(ngModel)]="filter.estado.descripcion" placeholder="Buscar por Estado RQM">
                            </th>
                            <th>
                                <input class="form-control-sm input-filter" type="text" [(ngModel)]="filter.version" placeholder="Buscar por Versión">
                            </th>
                            <th>
                                <input class="form-control-sm input-filter" type="text" [(ngModel)]="filter.fase.descripcion" placeholder="Buscar por Fase RQM">
                            </th>
                            <th>
                                <input class="form-control-sm input-filter" type="text" [(ngModel)]="filter.fechaInicio" placeholder="Buscar por Fecha Inicio DS">
                            </th>
                            <th>
                                <input class="form-control-sm input-filter" type="text" [(ngModel)]="filter.fechaPlaneadaEntrega" placeholder="Buscar por Fecha PE DS">
                            </th>
                            <th>
                                <input class="form-control-sm input-filter" type="text" [(ngModel)]="filter.fechaEntrega" placeholder="Buscar por Fecha RE DS">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let r of requests| generalFilter:filter">

                            <td>
                                <span [innerHTML]="r.cotizacion.codigoRequerimiento"></span>
                            </td>
                            <td>
                                <span [innerHTML]="r.descripcion"></span>
                            </td>
                            <td>
                                <span [innerHTML]="r.cliente.descripcion"></span>
                          </td>
                            <td>
                                <span [innerHTML]="r.proyecto.nombre"></span>
                            </td>
                            <td>
                                <span [innerHTML]="r.estado.descripcion"></span>
                            </td>
                            <td>
                                <span [innerHTML]="r.version"></span>
                            </td>
                            <td>
                                <span [innerHTML]="r.fase.descripcion"></span>
                            </td>
                            <td>
                                <span [innerHTML]="r.fechaInicio"></span>
                            </td>
                            <td>
                                <span [innerHTML]="r.fechaPlaneadaEntrega"></span>
                            </td>
                            <td>
                                <span [innerHTML]="r.fechaEntrega"></span>
                            </td>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-default">
                                        <i 
                                        [routerLink]="['create', r.id]"
                                        class="fa fa-pencil-square-o fa-lg hand"
                                        aria-hidden="true"
                                        title="Editar">
                                        </i>
                                    </a>
                                    <a class="btn btn-default">
                                        <i (click)="delete(r)"
                                        class="fa fa-trash-o fa-lg hand"
                                        aria-hidden="true" title="Eliminar">
                                        </i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
           

   
