<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div [@routerTransition]>
            <!-- <app-page-header [heading]="'Proyectos'" [icon]="'fa-wrench'"></app-page-header> -->
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5 ">
                    <h2 class=" page-header">
                        Proyectos
                    </h2>

                </div>

                <!-- <div class="col-xs-12 col-sm-6 offset-md-3 col-md-3 offset-lg-4 col-lg-3">

                    <button type="button" class="btn btn-primary pull-right" (click)="createHide()" blueColored>
                        <span class="fa fa-plus"></span> Nuevo Proyecto
                        <b>
                            <span class="{{icon}}"></span>
                        </b>
                    </button>

    </div> -->

            </div>
            <hr>

            <!--DIV BOTON NUEVO Empresa -->
            <div style="text-align:left">

                <button type="button" class="btn-sm btn-primary mb-2" (click)="createHide()" blueColored>
                    <span class="fa fa-plus"></span> Nuevo Proyecto
                    <b>
                        <span class="{{icon}}"></span>
                    </b>
                </button>

            </div>
            <!--FIN DIV BOTON NUEVO Empresa -->


            <div *ngIf="visible">
                <!--ALERT MENSAJES -->
                <div *ngIf="!isValid" role="alert" class="alert alert-danger alert-dismissible">
                    {{message}}
                    <button aria-label="Close" class="close" type="button">
                        <span aria-hidden="true">×</span>
                    </button>
                    <strong></strong>
                </div>
                <!--FIN ALERT MENSAJES -->
                <!-- *ngIf="visible" -->

                <div class="card">

                        <div class="card-header">
                                <div class="row center-sc col-xs-12 col-sm-12 col-md-12 col-lg-12">

                                    <!-- Usuario&nbsp;&nbsp;&nbsp;&nbsp; -->


                                    <!-- <input style="margin-right:12px"
                                    type="submit"
                                    class="btn-sm btn-success fa fa-floppy-o"
                                    value=""/> -->

                                    <!-- <div>
                                        <hr class="hrv2">
                                    </div> -->

                                    <div>

                                        <button style="margin-right:12px"
                                         (click)="save()"
                                          type="submit"
                                           placement="top"
                                            ngbTooltip="Guardar"
                                            class="btn-sm btn-success fa fa-floppy-o fa-lg hand"
                                            value="">
                                        </button>

                                    </div>

                                    <!-- <div>
                                        <hr class="hrv">
                                    </div> -->



                                    <!-- <input style="margin-left:10px"
                                     type="reset"
                                     class="btn-sm btn-danger"
                                     value="Limpiar" /> -->

                                    <!-- <div>

                                        <button style="margin-left:10px;" (click)="clean()" placement="top" ngbTooltip="Limpiar" class="btn-sm btn-warning hand"
                                            value="">
                                            <img [src]="'assets/images/escoba.ico'" width="20" height="20">
                                        </button>

                                    </div> -->

                                    <!-- <div *ngIf="deleteFormHide" style="display: -webkit-box;">

                                        <div>
                                            <hr class="hrv2">
                                        </div>

                                        <div>

                                            <button style="margin-right:12px" (click)="deleteForm(usuario)" type="submit" placement="top" ngbTooltip="Eliminar" class="btn-sm btn-danger fa fa-trash-o fa-lg hand"
                                                value="">
                                            </button>

                                        </div>

                                        <div>
                                            <hr class="hrv">
                                        </div>

                                    </div> -->

                                    <!-- <div *ngIf="!deleteFormHide">
                                        <hr class="hrv2">
                                    </div> -->



                                </div>
                            </div>
                            <!-- justify-content-start -->
                    <form class="form-row  " (ngSubmit)="save()">

                        <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 " style="padding-top: 0px; padding-right: 0px ">
                            <div class="subcard col-xs-12 col-sm-12 col-md-4 col-lg-4">

                                <div class="subcard-header title">Datos del proyecto</div>

                                <div class="form-row">

                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                                        <label class="col-form-label-sm">*Nombre del proyecto</label>
                                        <input type="text" [(ngModel)]="proyecto.nombre" name="nombre" class="form-control-sm input-underline" placeholder="Nombre del Proyecto"
                                            required>

                                    </div>

                                    <div class=" input-group col-xs-12 col-sm-12 col-md-12 col-lg-12">

                                        <label class="col-form-label-sm ">*Tipo del proyecto</label>
                                        <div class="">
                                            <select [(ngModel)]="proyecto.tipo" name="tipo" class="form-control-sm input-underline">
                                                <option value="Interno">Interno</option>
                                                <option value="Externo">Externo</option>
                                            </select>
                                        </div>

                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                                        <label class="col-form-label-sm ">Archivo</label>
                                        <label class="hand" ondragover="return false;" (dragenter)="handleDragEnter()" (dragleave)="handleDragLeave()" (drop)="handleDrop($event)"
                                            placement="top" ngbTooltip="Haga click para cargar o arrastre el documento">
                                            <div class="col-auto">

                                                <!-- <label class="col-form-label-sm"
                                            style="padding-bottom:10px " >Subir documento: </label> -->
                                                <span class="fa {{iconUpload}} picture-marc {{styleIconUpload}}">{{nameUpload}}</span>
                                                <!-- <img [src]="fotoDoc"
                                        class="picture-marc" width="165" height="165"> -->
                                            </div>
                                            <div class="col-auto">


                                                <input type='file' (change)="handleInputChange($event)" style="display: none;">

                                            </div>
                                        </label>

                                    </div>

                                    <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12">

                                        <label class=" col-form-label-sm ">Descripción</label>
                                        <textarea class="form-control" [(ngModel)]="proyecto.descripcion" name="descripcion" cols="auto" rows="6"></textarea>

                                    </div>

                                </div>
                                <br>
                            </div>

                            <div class="subcard col-xs-12 col-sm-12 col-md-8 col-lg-8">

                                <div class="subcard-header title">Datos de la empresa</div>

                                <div class="form-row">

                                    <div class="col-auto">

                                        <label class=" col-form-label-sm ">*Empresa</label>
                                        <select #selectEn [(ngModel)]="proyecto.clienteId" (change)="setNew(selectEn.value)" name="enterprise" class="form-control-sm input-underline">
                                            <option value=undefined disabled selected>Seleccione una empresa</option>
                                            <option *ngFor="let e of enterprises" [value]="e.id">
                                                {{e.descripcion}}
                                            </option>
                                        </select>

                                    </div>

                                    <div *ngIf="fotoEmpresa !==undefined" class="col-auto" style="top: -12px;">
                                            <label>
                                                    <div class="col-auto">
                                                        <img [src]="fotoEmpresa" class="picture-marc" width="60" height="60">
                                                    </div>
                                                    <div class="col-auto">


                                                        <input type='file' (change)="handleInputChange($event)" style="display: none;" disabled>

                                                    </div>
                                                </label>

                                        </div>

                                    <div *ngIf="updateForm"  class="col-auto">

                                        <label class=" col-form-label-sm ">Seleccionar Empleados</label>
                                        <select #selectUs
                                        (change)="setNewUser(selectUs.value)"
                                        name="employee"
                                        class="form-control-sm input-underline">
                                            <option value=undefined selected>Seleccione un empleado</option>
                                            <option *ngFor="let u of employees;let i = index" [value]="u.id">
                                                {{u.nombres}}&nbsp;{{u.apellidos}}
                                            </option>
                                        </select>

                                    </div>

                                    <div *ngIf="updateForm" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">

                                        <label class=" col-form-label-sm ">Involucrados</label>

                                        <table class="table table-striped table-sm table-bordered">
                                            <thead align="center">
                                                <tr>
                                                    <th>Empleado</th>
                                                    <th>Proyectos</th>
                                                    <th>Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let u of employeesToProject; let i=index">

                                                    <td>
                                                            <label *ngIf="u.foto !== null" class="" placement="top" ngbTooltip="">
                                                                        <img [src]="u.fotoEmpleado" class="" width="35" height="45">
                                                                    <div class="col-auto">


                                                                        <input type='file' (change)="handleInputChange($event)" style="display: none;" disabled>

                                                                    </div>
                                                                </label>

                                                        <span [innerHTML]="u.nombreEmpleado"></span>
                                                        <span [innerHTML]="u.apellidoEmpleado"></span>
                                                    </td>
                                                    <!-- <td align="center">
                                                                <span>
                                                                    <input type="checkbox"
                                                                    (change)="checkUser(u)">
                                                                </span>
                                                            </td> -->
                                                    <td align="center">
                                                        <span>211-222-554
                                                        </span>
                                                    </td>
                                                    <td align="center">
                                                        <span style="color:red" class="fa fa-times hand" title="Eliminar" (click)="deleteEmployeeToEnterprise(u, i)">
                                                        </span>
                                                    </td>

                                                    <!-- <td>SPC</td>
                                                           <td>Veneco</td>
                                                           <td>02/03/2017</td>
                                                           <td><input type="checkbox"></td>
                                                       </tr>
                                                       <tr>
                                                               <td>CDA</td>
                                                               <td>Picachu</td>
                                                               <td>02/03/2017</td>
                                                               <td><input type="checkbox"></td> -->
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>

                                </div>
                                <br>
                            </div>

                        </div>

                        <!-- <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 ">

                            <div class="form-row col-xs-12 col-sm-12 col-md-4 col-lg-4">

                                <label class=" col-form-label-sm ">*Empresas</label>
                                <select #selectEn [(ngModel)]="proyecto.clienteId" (change)="setNew(selectEn.value)" name="enterprise" class="form-control-sm input-underline">
                                    <option value=undefined disabled selected>Seleccione una empresa</option>
                                    <option *ngFor="let e of enterprises" [value]="e.id">
                                        {{e.descripcion}}
                                    </option>
                                </select>

                            </div>

                            <div class=" form-row col-xs-12 col-sm-12 col-md-8 col-lg-8 ">

                                <label class=" col-form-label-sm ">Seleccionar Empleado</label>
                                <select #selectUs (change)="setNewUser(selectUs.value)" name="employee" class="form-control-sm input-underline">
                                    <option value=undefined selected>Seleccione un empleado</option>
                                    <option *ngFor="let u of employees;let i = index" [value]="u.id">
                                        {{u.nombres}}&nbsp;{{u.apellidos}}
                                    </option>
                                </select>
                            </div>

                        </div> -->


                        <br>

                        <!-- <div class="center-sc form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">

                            <input type="submit" class="btn btn-success" value="Guardar" />

                            <!-- <input style="margin-left:10px"
                     type="reset"
                     class="btn btn-danger"
                     value="Limpiar" />

                        </div> -->

                    </form>
                </div>

            <br>

            </div>


            <div class="card mb-3">
                <div class="card-header center-sc">
                    <div class="row">

                        <div class=" col-auto">
                            Tabla de Proyectos
                        </div>

                        <div class="btn-group row col-auto pull-right " style="">
                            <div>
                                <hr class="hrv1">
                            </div>

                            <div class="col-auto pull-right ">
                                <i class="fa fa-file-excel-o fa-lg hand" placement="bottom" ngbTooltip="Exportar Excel" style="color:green"></i>
                            </div>

                            <div>
                                <hr class="hrv1">
                            </div>

                            <div class="col-auto pull-right ">
                                <i class="fa fa-file-pdf-o fa-lg hand" placement="bottom" ngbTooltip="Exportar PDF" style="color:red"></i>
                            </div>


                            <div>
                                <hr class="hrv1">
                            </div>


                        </div>
                    </div>
                </div>
            <div class="card-body table-responsive">
                <table class="table table-hover table-striped table-bordered table-sm">
                    <thead>
                        <tr>
                            <th>Nombre del proyecto</th>
                            <th>Creado por</th>
                            <th>Fecha creación por</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let p of proyectos">

                            <td>
                                <span [innerHTML]="p.nombre"></span>
                            </td>
                            <td>
                                <span [innerHTML]="p.usuarioCreacion"></span>
                            </td>
                            <td>
                                <span [innerHTML]="p.fechaCreacion"></span>
                            </td>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-default">
                                        <i (click)="edit(p)"
                                        class="fa fa-pencil-square-o fa-lg hand"
                                        aria-hidden="true"
                                        title="Editar">
                                        </i>
                                    </a>
                                    <a class="btn btn-default">
                                        <i (click)="delete(p)"
                                        class="fa fa-trash-o fa-lg hand"
                                        aria-hidden="true" title="Eliminar">
                                        </i>
                                    </a>
                                </div>
                            </td>

                            <!-- <td>SPC</td>
                       <td>Veneco</td>
                       <td>02/03/2017</td>
                       <td><input type="checkbox"></td>
                   </tr>
                   <tr>
                           <td>CDA</td>
                           <td>Picachu</td>
                           <td>02/03/2017</td>
                           <td><input type="checkbox"></td> -->
                        </tr>
                    </tbody>
                </table>

            </div>
            </div>
        </div>
    </div>
</div>
