<form>

        <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 " >

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 " >
                <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3">
                        <div class="btn btn-info hand"
                         (click)="newTool()">
                             <i class="fa fa-plus"
                             aria-hidden="true">
                             </i>
                             &nbsp; Crear nuevo
                        </div>
                        </div>


                <hr>
                        <!-- <br> -->
                </div>

                <form (ngSubmit)="save()" ngNativeValidate>

                    <div *ngIf="new" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                            <div class="form-group row">
                                <label class="col-form-label col-auto">
                                    Herramienta:
                                </label>
                                <div class="col-auto">
                                    <input type="text" 
                                    class="form-control"
                                     placeholder="Nombre"
                                     [(ngModel)]="tool.descripcion"
                                     name="tool.descripcion" required>
                                </div>
                                <button class="btn btn-primary"
                                 type="submit">
                                        <i class="fa fa-save"
                                         aria-hidden="true"
                                         title="Guardar">
                                        </i>
                                </button>
                            </div>
                            <hr>
                        <!-- <br> -->
                    </div>

                </form>


            <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12" >

                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 " *ngFor="let t of tools" >
                        <!-- <div class="form-group"> -->
                        <label class="col-form-label col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <mat-checkbox name="{{t.value}}" [(ngModel)]="t.value">
                                <span [innerHTML]="t.descripcion"></span>
                            </mat-checkbox>
                        </label>
                        <!-- </div> -->
                    </div>
                    <br><br><br>
            </div>

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center-sc" >
                            <input
                            (click)="saveToolToQuotation()"
                            type="button"
                            class="btn btn-success"
                            value="Guardar"/>

                             <!-- <input style="margin-left:10px"
                             type="reset"
                             class="btn btn-danger"
                             value="Limpiar" /> -->
                            </div>

        </div>

        </form>

